html {
    overflow: hidden;
    height: 100%;
    line-height: 1.4;
}
body {    
    background-image: url("../assets/geo-background1280.png");
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: #40604e;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    height: 100%;
}

hr {
    width: 70px;
    margin: 20px 0 10px 0;
}

.content-container {
    background-color: rgba(255,255,255,0.7);
    padding: 25px 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    color: #40604e;
    font-size: 18px;
}

img {
    max-width: 45vw;
}

.social-media-icons {
    margin: 0 auto;
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.social-media-icons img {
    height: 30px;
}
img.envelop-icon {
    height: 24px;
    padding: 3px;
    background-color: white;
    border-radius: 3px;
}
.quote-container {
    margin: 40px 0 0 0;
    width: 65vw;
    font-size: 12px;
}
.quote {
    font-style: italic;
}

@media screen and (min-width: 501px) {
    .content-container {
        padding: 35px;
    }
    img {
        max-height: 250px;
    }
    .social-media-icons {
        width: 250px;
    }
    .social-media-icons img {
        height: 40px;
    }
    img.envelop-icon {
        height: 32px;
        padding: 4px;
    }
    .quote-container {
        width: auto;
        font-size: 14px;
    }
    .text-container {
        font-size: 15px;
    }
    hr {
        width: 100px;
    }
}









